#counter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  button {
    padding: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    background: rgb(65, 65, 139);
    border-color: black;
  }

  span {
    padding: 1px solid black;
    background: white;
    line-height: 3em;
    border-radius: 50%;
    font-size: 3em;
  }
}